@import 'fontface';
@import 'colores';

$altura: 50px;
$alturaIOS: 65px;
$fontBase: 1.2em/1.5 'bryant',sans-serif;

*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	outline: none;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:not(input):not(select),
*:not(input):not(select):after,
*:not(input):not(select):before {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
    font: $fontBase;
    background-color: #00bbff;
	background-image: url(../img/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;
}

a {
	color: $azul;
	text-decoration: none;
}

div, section, article {
	position: relative;
}

ul,ol,li{
	list-style:none;
}

/* PRECARGAS DE FONDOS
**************************************************/

#preloader {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
	left: -9999px;
	background-repeat: no-repeat;
	background-position: -9999px -9999px;
}

#preloader div {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
	left: -9999px;
	background-repeat: no-repeat;
	background-position: -9999px -9999px;
}

#preload1 {
	background-image: url(../img/catalogobaby.png);
}
#preload2 {
	background-image: url(../img/catalogoclothes.png);
}
#preload3 {
	background-image: url(../img/catalogodrugstore.png);
}
#preload4 {
	background-image: url(../img/catalogoelectronic.png);
}
#preload5 {
	background-image: url(../img/catalogofood.png);
}
#preload6 {
	background-image: url(../img/catalogorestaurant.png);
}
#preload7 {
	background-image: url(../img/catalogosports.png);
}
#preload8 {
	background-image: url(../img/catalogotoys.png);
}
#preload9 {
	background-image: url(../img/catalogotravel.png);
}
#preload10 {
	background-image: url(../img/transparent.png);
}
#preload11 {
	background-image: url(../img/products.png);
}

#preload12 {
	background-image: url(../img/estantebaby.png);
}
#preload13 {
	background-image: url(../img/estanteclothes.png);
}
#preload14 {
	background-image: url(../img/estantedrugstore.png);
}
#preload15 {
	background-image: url(../img/estanteelectronic.png);
}
#preload16 {
	background-image: url(../img/estantefood.png);
}
#preload17 {
	background-image: url(../img/estanterestaurant.png);
}
#preload18 {
	background-image: url(../img/estantesports.png);
}
#preload19 {
	background-image: url(../img/estantetoys.png);
}
#preload20 {
	background-image: url(../img/estantetravel.png);
}